<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUL_y9lJonF03o3H85YoAqPLi40tbdb2E</string>
	<key>GCM_SENDER_ID</key>
	<string>143883744608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.bsc.ios.PayMe</string>
	<key>PROJECT_ID</key>
	<string>payme-f7a96</string>
	<key>STORAGE_BUCKET</key>
	<string>payme-f7a96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143883744608:ios:72641b9d3b0e8643391a05</string>
</dict>
</plist>